.form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    backdrop-filter: blur(200px);
    padding: clamp(1em, 1.5vw, 2em);
    position: relative;
    isolation: isolate;
    box-sizing: border-box;
    color: var(--Primary);
}

.form-container::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--Bg-radial-gradient);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.contact-form-label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5em;
    color: var(--Primary);
    width: clamp(90%, 10em, 75%);
}

.contact-form-input {
    padding: 0.5em 1em;
    box-shadow: 1px 1px 10px var(--Primary);
    font-size: 1em;
    background: var(--Bg-light);
    color: var(--Primary)
}

.contact-form-textarea {
    min-height: 7em;
    padding: 0.5em 1em;
    box-shadow: 1px 1px 10px var(--Primary);
    font-size: 1em;
    background: var(--Bg-light);
    color: var(--Primary)
}

.contact-social-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    backdrop-filter: blur(200px);
    padding: clamp(1em, 1.5vw, 2em);
    position: relative;
    isolation: isolate;
    box-sizing: border-box;
    color: var(--Primary);
}

.contact-social-container:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--Bg-radial-gradient);
}

.social-cards-container {
    align-self: center;
    margin: auto 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 1rem;
    min-height: 50%;
    min-width: 60%;
}

@media (max-width: 600px) {
   .social-cards-container {
      grid-template-columns: 1fr;
   }
}

.social-card {
    color: var(--Primary);
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 1em;
    justify-content: space-evenly;
    backdrop-filter: blur(200px);
    padding: 0.8rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    isolation: isolate;
    /*background: var(--Bg-light);*/
    transition: all 0.3s ease-in;
}

.social-card::after {
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle,rgba(59, 59, 59, 0) 0%, rgba(242, 242, 242, 0.25) 100%);;
}

[data-theme="dark"] {
    .social-card::after {
        background: var(--Bg-light);
    }
}

.social-network {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.social-name {
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.social-icon {
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.social-icon svg {
    transition: all 0.3s ease;
    transform-origin: right top;
}

.social-phrase p {
    height: 0;
    opacity: 0;
    transition: height 0.3s ease-in,
                opacity 0.35s ease-in;
}

.link-arrow {
    opacity: 0;
    transform: translate(-5px, 5px);
    transition: all 0.35s ease;
}

.social-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgb(from var(--Primary) r g b / 0.25), 0 6px 20px 0 rgba(from var(--Primary) r g b / 0.30);
}

.social-card:hover .link-arrow {
    opacity: 1;
    transform: translate(0, 0);
}

.social-card:hover .social-phrase p {
    opacity: 1;
    height: 100%;
}

.social-card:hover .social-icon svg {
    transform: scale(1.5) translate(-33%);
}


